<div class="form-item">
    <a id="{{fileId}}" class="reg" >{{fileName}}</a>
    <button id="{{fileId}}" onclick="deleteFile({{fileId}})">delete</button>
    <button id="{{fileId}}" onclick="downloadFile(12)">download</button>
</div>